.stats {
  display: grid;
  grid-gap: govuk-spacing(9);
  grid-template-columns: repeat(4, 1fr);
  // grid-template-rows: repeat(2, auto);

  margin-bottom: govuk-spacing(9);

  .stat {
    display: grid;
    align-content: start;

    background-color: govuk-colour("light-grey");
    padding: govuk-spacing(3);

    span {
      margin-bottom: 0;
      color: govuk-colour("blue");
    }

    h2 {
      margin-bottom: 0;
      font-weight: normal;
    }
  }

}
