{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  On who's behalf are you reporting a wreck material?
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/wreck-details" method="post">

        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "who-found",
          name: "who-found",
          fieldset: {
            legend: {
              text: "On who's behalf are you reporting a wreck material?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "You found the wreck yourself",
              text: "You found the wreck yourself"
            },
            {
              value: "On behalf of the finder",
              text: "On behalf of the finder"
            }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
